*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

main{
    width: 400px;
    min-height: 100px;
}

.comentarios{
    width: 100%;
    display: flex;
    flex-direction: column;
}

textarea{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    max-height: 80px;
    line-height: 20px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(61, 123, 255);;
    color: rgb(0, 81, 255);
}


/*enviar*/
button{
    width: 100px;
    height: 30px;
    background-color: rgb(61, 123, 255);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-end;
}

button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 81, 255);
    box-shadow: 0 0 10px rgb(0, 81, 255);
}

/*seleccionar*/
div button{
    width: 100px;
    height: 100%;
    background-color: rgb(0, 81, 255);
    color: white;
    cursor: pointer;
    margin: 0px 5px;
}

div button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 58, 182);
}

div button:active{
    background-color: red;
}


/*enviar*/
.comentarios{
    width: 100%;
    min-height: 20px;
    color: rgb(255, 255, 255);
}

.comentarios div{
    background-color:rgb(0, 81, 255);;
    margin: 10px 2px;
    padding: 5px 10px;
}

.comentarios div:nth-child(even){
    background-color: rgb(61, 123, 255);
    margin: 10px 2px;
    padding: 5px 10px;
}

.comentarios div h1{
    font-size: 20px;
    color: black;
}

.comentarios div p{
    color: rgb(219, 219, 219);
}

.comentarios div h1 span{
    margin-left: 20px;
    font-size: 10px;
    color: rgb(219, 219, 219);
}

#usuario{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: transparent;
}

#notificacion{
    position: fixed;
    left: 0;
    top: 15%;
    width: 70px;
    margin: 10px;
}

#notificacion img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

